<%= form_with(model: @task, local: true, url: choose_new_or_edit )do |f| %>
  <% if @task.errors.any? %>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
       <li class="error_messages"><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <p><%= f.label :name, t('view.name') %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :content, t('view.content') %></p>
  <p><%= f.text_area :content %></p>

  <p><%= f.label :deadline, t('view.deadline') %></p>
  <p><%= f.date_field :deadline %></p>

  <p><%= f.label :status, t('view.status') %></p>
  <p><%= f.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]} %></p>

  <%= f.submit t('view.create') %>
<% end %>
