<h1>編集</h1>

<%= form_with(model: @task, local: true)do |f| %>
  <p><%= f.label :タスク %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :内容 %></p>
  <p><%= f.text_field :content %></p>

  <%= f.submit %>
<% end %>

<p><%= link_to "戻る", root_path %></p>
