<%= notice %>

<h1><%= t('view.index') %></h1>

<p><%= link_to t('view.new'), new_task_path %></p>
<p><%= link_to t('view.sort_by_deadline'), tasks_path(sort_by_deadline: "true") %></p>
<p><%= link_to t('view.restore'), tasks_path %></p>

<h2><%= t('view.search') %></h2>
<%= form_with(model: Task.new, method: :get, url: tasks_path, local: true) do |f| %>
  <p><%= f.label :name, t('view.name') %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :status, t('view.status') %></p>
  <p><%= f.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]} , include_blank: true, selected: '' %></p>

  <p><%= f.hidden_field :search, value: 'true' %></p>

  <p><%= f.submit t('view.search') %></p>
<% end %>
<p></p>

<table>
  <% @tasks.each do |t| %>
    <tr>
      <th><%= link_to "<#{t.name}>", task_path(t.id) %></th>
      <td><%= t.content %></td>
      <td><%= "#{t('view.deadline')}：#{t.deadline}" %></td>
      <td><%= t.status_i18n %></td>
      <td><%= "#{t('view.priority')}：#{t.priority_i18n}" %></td>
      <td><%= link_to t('view.edit'), edit_task_path(t.id) %></td>
      <td><%= link_to t('view.delete'), task_path(t.id), method: :delete, data: { confirm: t('view.delete_confirm') } %></td>
    </tr>
  <% end %>
</table>
