<div class="show ml-5">
  <p><%= notice %></p>

  <h3>「 <%= @task.name %> 」</h3>
    <% @task.labels.each do |label| %>
      <button class="btn btn-danger mt-2 mb-4" disabled><%= label.name %></button>
    <% end %>
  <p><%= t('view.show') %>：<%= @task.content %></p>
  <p><%= t('view.deadline') %>：<%= @task.deadline %></p>
  <p><%= t('view.status') %>：<%= @task.status_i18n %></p>
  <p><%= t('view.priority') %>：<%= @task.priority_i18n %></p>

  <div class="mt-5 clearfix">
    <button class="float-left mr-4 btn btn-success btn-outline-dark"><%= link_to t('view.edit'), edit_task_path(@task.id), class: 'text-white' %></button>
    <button class="float-left mr-4 btn btn-danger btn-outline-dark"><%= link_to t('view.delete'), task_path(@task.id), method: :delete, data: { confirm: t('view.delete_confirm') }, class: 'text-white' %></button>
    <button class="float-left btn btn-primary btn-outline-dark"><%= link_to "<<#{t('view.to_index')}", root_path, class: 'link text-white' %></button>
  </div>
</div>
